extends ./layout/main

block content
    .edit-profile
        .form-container
            form(action=`${routes.user}${routes.editProfile}` method="post")
                input(type="text" name="name" placeholder="이름을 입력" value=user.name)
                input(type="submit" value="변경")
        a.edit-profile__changePassword(href=`${routes.user}${routes.changePassword}`) 비밀번호 변경