header
    .header__container
        .header__column
            a(href=routes.home)
                span NAVER
        .header__column
            form(action=routes.search method="get")
                input(type="text" name="term" placeholder="게시글을 검색하세요")#SearchPost
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) 회원가입
                    li
                        a(href=routes.login) 로그인
                else
                    li
                        a(href=`${routes.user}${routes.editProfile}`) 회원정보
                    li
                        a(href=routes.logout) 로그아웃